body {
    margin: 0;
    background-color: rgba(247, 253, 255, 0.719);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbdbdb;
    padding: 0px 40px;
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center; 
    border: 5px lightgray;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 30px gray;
    width: 1000px;
    margin: 100px auto;
    padding: 20px;
}

.paragrap {
    margin: 0 10px;
    border: none; 
    width: 700px;
}

.logo {
    margin: 0 10px;
    margin-top: 10px; 
    width: 600px;
    align-self: flex-end; 
}

.card {
    width: 350px; 
    border: none; 
    padding: 15px; 
    border-radius: 15px; 
    font-family: Arial, Helvetica, sans-serif; 
    box-shadow: 0 0 14px grey;
}

.card img {
    width: 100%; 
    border-radius: 15px;
}

.card h1 {
    margin: 0; 
    margin-top: 10px; 
    text-align: center;
}

.paragrap h1 {
    text-align: left;
    margin-left: 100 auto;
    padding: 0 20px;
}

.card p {
    margin: 0; 
    margin-bottom: 10px; 
    margin-top: 5px; 
    text-align: center;
}

.paragrap p {
    text-align: left;
    margin-left: 100 auto;
    padding: 0 20px;
}

.paragrap button {
    background-color: #101410;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
}

.paragrap a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.paragrap a:hover{
    color: orangered;
}

.paragrap img {
    margin-top: 10 auto;
}

.nav-left img {
    margin-right: 50px;
    width: 80px;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}


.nav-left ul li {
    margin-right: 30px;
}

.nav-left a {
    text-decoration: none;
    color: black;
}

.nav-left a:hover {
    color: orangered;
}

.nav-right a{
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: inline-block;
}

.nav-right a:hover{
    background-color: orangered;
    color: white;
}


.date-input::-webkit-calendar-picker-indicator {
    display: none; 
}

.date-input::-webkit-inner-spin-button {
    display: none; 
}

.input-blog-image-group label {
    cursor: pointer;
}

.date-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

.date-field {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.date-field label {
    font-weight: bold;
    margin-bottom: 5px;
}


.tech-container {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.tech-field {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.tech-field label{
    font-weight: lighter;
}

.tech-field input[type="checkbox"] {
    margin-right: 5px;
}


form {
    width: 305px;
    margin: 50px auto;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

form div {
    margin-top: 10px;
}

form label {
    font-weight: bold;
}



.input-blog-image-grup label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: 1px solid #dbdbdbdb;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.input-blog-image-grup label p {
    margin: auto;
    font-size: 14px;
    color: #333;
}


.input-blog-image-grup label img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


.input-blog-image-grup input[type="file"] {
    display: none;
}


button {
    background-color: black;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: inline-block;
}

button:hover {
    background-color: orangered;
    color: white;
}

.blog-container {
    display: flex;
    background-color: #dfdfdf7a;
    flex-wrap: wrap; 
    justify-content: flex-start; 
}


.blog-post {
    width: 300px; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post img {
    max-width: 300px;
    height: auto;
}


.blog-post h2 {
    font-size: 18px;
    margin: 10px 0;
}


.blog-post .date {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
}


.blog-post p {
    font-size: 16px;
    margin: 10px 0;
}


.blog-post .btn-group {
    display: flex;
    align-items: center;
}

.blog-post .btn-group button {
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.blog-post .btn-edit {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.blog-post .btn-delete {
    margin-left: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}