body {
    margin: 0;
    background-color: rgba(247, 253, 255, 0.719);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbdbdb;
    padding: 0px 40px;
}

.container {
    display: flex;
    flex-direction: row; /* Mengatur kontainer agar elemen-elemennya tersusun secara horizontal */
    justify-content: space-around; /* Untuk memberikan jarak sekitar elemen-elemen */
    align-items: center; /* Mengatur elemen-elemen agar berada di tengah secara vertikal */
    border: 5px lightgray;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 30px gray;
    width: 1000px;
    margin: 100px auto;
    padding: 20px;
}

.paragrap {
    margin: 0 10px;
    border: none; 
    width: 700px;
}

.logo {
    margin: 0 10px;
    margin-top: 10px; 
    width: 600px;
    align-self: flex-end; 
}

.card {
    width: 350px; 
    border: none; 
    padding: 15px; 
    border-radius: 15px; 
    font-family: Arial, Helvetica, sans-serif; 
    box-shadow: 0 0 14px grey;
}

.card img {
    width: 100%; 
    border-radius: 15px;
}

.card h1 {
    margin: 0; 
    margin-top: 10px; 
    text-align: center;
}

.paragrap h1 {
    text-align: left;
    margin-left: 100 auto;
    padding: 0 20px;
}

.card p {
    margin: 0; 
    margin-bottom: 10px; 
    margin-top: 5px; 
    text-align: center;
}

.paragrap p {
    text-align: left;
    margin-left: 100 auto;
    padding: 0 20px;
}

.paragrap button {
    background-color: #101410;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
}

.paragrap a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.paragrap img {

    margin-top: 10 auto;
}

.nav-left img {
    margin-right: 50px;
    width: 80px;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}


.nav-left ul li {
    margin-right: 30px;
}

.nav-left a {
    text-decoration: none;
    color: black;
}

.nav-left a:hover {
    color: orange;
}

.nav-right a{
    background-color: orangered;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: inline-block;
}

form {
    width: 305px;
    margin: 50px auto;
}

input , select , textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dbdbdbdb;
    margin-top: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

form div{
    margin-top: 10px;
}

form label {
    font-weight: bold;
}

button {
    background-color: orangered;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: inline-block;
}